.primary-btn {
  background-color: #004aad;
  color: #fff;
  border: none;
  padding: 10px 18px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.primary-btn:hover {
  background-color: #0063e5;
}

.secondary-btn {
  background-color: #fff;
  color: #004aad;
  border: 2px solid #004aad;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
  transition: all 0.3s ease;
}

.secondary-btn:hover {
  background-color: #004aad;
  color: #fff;
}

.hidden {
  display: none;
}

.profile-header {
  display: flex;
  align-items: center;
  gap: 20px;
}

.profile-pic {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
